doctype html
html
    head
        title Privacy Policy
        link(rel='stylesheet', href='/style.css')
    body
        h1 Privacy Policy

        p Thank you for using our service. We are committed to protecting your privacy and personal information. This privacy policy explains how we collect and use personal information about you when you use our service, including when you use our website and when you contact us.

        h3 What personal information do we collect about you?
        p We do not collect any personal information about you when you use our service. We do not have an account system, and we do not require you to provide any personal information to use our service.

        h3 Cookies
        p We do not use cookies to collect personal information about you. We do use cookies to store your preferences for the service, such as whether you have enabled dark mode.

        h3 Third-party Services
        p Guess, what! Our project does not use any third-party services that collect personal information about you. We do not use any analytics services, and we do not use any advertising services.

        footer
            p Go back to the 
                a(href='/') home page.